/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* LAYOUT STYLES */
body {
  font-size: 15px;
  line-height: 1.5;
  background: #fafafa url(../images/body-bg.jpg) 0 0 repeat;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-weight: 400;
  color: #666;
}

a {
  color: #00adef;

  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

a:hover {
  color: #0069ba;
  text-shadow: #0090ff 0px 0px 2px;
}


.subtitle, .title {
  font-size: 250%;
  font-weight: bold;
  font-style: normal;
	text-align: center;
	font-family: 'Skranji', 'Helvetica Neue', Helvetica, Arial, serif;
	display: block;
}

.subtitle {
  font-size: 180%;
}




.inner {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.contentAside{
	background: lightgrey;
}

#content-wrapper {
  border-top: solid 1px #fff;
  padding-top: 30px;
}

#main-content {
	position: absolute;
 	right: 0;
}

#main-content img {
  max-width: 100%;
}

#sidebar {
	padding-left: 0;
  min-height: 504px;
	position: absolute;
  left: 0;
  font-size: 12px;
  line-height: 1.3;
}

#sidebar p.repo-owner,
#sidebar p.repo-owner a {
  font-weight: bold;
}

#downloads {
  margin-bottom: 40px;
}

a.button {
  width: 134px;
  height: 58px;
  line-height: 1.2;
  font-size: 23px;
  color: #fff;
  padding-left: 68px;
  padding-top: 22px;
  font-family: 'Skranji', 'Helvetica Neue', Helvetica, Arial, serif;
}
a.button small {
  display: block;
  font-size: 11px;
}

aside a.button {
  width: 138px;
  padding-left: 64px;
  display: block;
  background: transparent url(../images/download-button.png) 0 0 no-repeat;
  margin-bottom: 20px;
  font-size: 21px;
}

code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #222;
  margin-bottom: 30px;
  font-size: 13px;
}

code {
  background-color: #f2f8fc;
  border: solid 1px #dbe7f3;
  padding: 0 3px;
}

pre {
  padding: 20px;
  background: #fff;
  text-shadow: none;
  overflow: auto;
  border: solid 1px #f2f2f2;
}
pre code {
  color: #2879d0;
  background-color: #fff;
  border: none;
  padding: 0;
}

ul, ol, dl {
  margin-bottom: 20px;
}


/* COMMON STYLES */

/*
hr {
  height: 1px;
  line-height: 1px;
  margin-top: 1em;
  padding-bottom: 1em;
  border: none;
  background: transparent url('../images/hr.png') 0 0 no-repeat;
}
*/

table {
  width: 100%;
  border: 1px solid #ebebeb;
}

th {
  font-weight: 500;
}

td {
  border: 1px solid #ebebeb;
  text-align: center;
  font-weight: 300;
}

form {
  background: #f2f2f2;
  padding: 20px;

}

.factbox {
  background: #336699;
  max-width: 200px;
  width: 100%;
  color: #FFFFFF;
  padding: 12px;
  font-size: 110%;


}


/* GENERAL ELEMENT TYPE STYLES */

#main-content h1 {
  font-family: 'Skranji', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 2.8em;
  letter-spacing: -1px;
  color: #474747;
}

#main-content h1:before {
  content: "::";
  color: #ff950d;
  padding-right: 0.3em;
  margin-left: -0.95em;
  font-size: larger;
}

#main-content h2 {
  font-family: 'Skranji', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #474747;
}
#main-content h2:before {
  content: "::";
  color: #ff950d;
  padding-right: 0.3em;
  margin-left: -1.2em;
  font-size: larger;
}

#main-content h3 {
  font-family: 'Skranji', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 8px;
  color: #474747;
}

#main-content h3:before {
  content: "::";
  color: #ff950d;
  padding-right: 0.3em;
  margin-left: -1.3em;
  font-size: larger;
}

#main-content h4 {
  font-family: 'Skranji', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: bold;
  color: #474747;
}

h4:before {
  content: "::";
  color: #ff950d;
  padding-right: 0.3em;
  margin-left: -1.4em;
  font-size: larger;
}

#main-content h5, .location {
  font-family: 'Skranji', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 14px;
  color: #474747;
}
h5:before {
  content: "::";
  color: #ff950d;
  padding-right: 0.3em;
  margin-left: -1.4em;
  font-size: larger;
}

#main-content h6 {
  font-family: 'Skranji', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: .8em;
  color: #474747;
}
h6:before {
  content: "::";
  color: #ff950d;
  padding-right: 0.3em;
  margin-left: -1.4em;
  font-size: larger;
}

p {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

.stdright, .stdleft, .stdcenter {
   width:450px;
   padding-top:    5px;
   padding-left:   5px;
   padding-right:  5px;
   padding-bottom: 5px;
   font-size: 83%;

}

.stdright#small{
	width: 300px;
}

.stdright {
   float:right;
}

.stdleft {
   float:left;
   margin-right: 10px;
}

.stdcenter {
   display: block;
   margin-left:  auto;
   margin-right: auto;
   margin-bottom: 20px;
   margin-top: 0px;
}

.stdcenter#full-size {
	width: 100%;
}

p a {
  font-weight: 400;
}

blockquote {
  border-left: 10px solid #e9e9e9;
  margin-bottom: 20px;
  padding: 0 0 0 30px;
  font-style:italic;
}

ul li {
  list-style: circle;
  margin-left: 20px;
}

ol li {
  list-style: decimal;
  margin-left: 20px;
}

dl dd {
  font-style: italic;
  font-weight: 100;
}

/*
footer {
  background: transparent url('../images/hr.png') 0 0 no-repeat;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 13px;
  color: #aaa;
}
*/

footer a {
  color: #666;
}
footer a:hover {
  color: #444;
}

/* MISC */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .inner {
    width: 740px;
  }

  #main-content {
    width: 490px;
  }
  #main-content h1:before,
  #main-content h2:before,
  #main-content h3:before,
  #main-content h4:before,
  #main-content h5:before,
  #main-content h6:before {
    content: none;
    padding-right: 0;
    margin-left: 0;
  }
   .stdright,
   .stdleft,
   .stdcenter {
   width:200px;
}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .inner {
    width: 93%;
  }
	/*
  header {
    padding: 20px 0;
  }
  header .inner {
    position: relative;
  }
  header h1, header h2 {
    width: 100%;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 24px;
  }
  header a.button {
    background-image: none;
    height: auto;
    display: inline-block;
    margin-top: 15px;
    padding: 5px 5px;
    font-size: 13px;
    line-height: 1;
    background-color: #fff;
    color: #2879d0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    visibility: hidden;
  }
  header a.button small {
    font-size: 13px;
    display: inline;
  }
  header a.menu {
    height: auto;
    display: inline-block;
    position: relative;
    margin-top: 15px;
    padding: 5px 0px;
    line-height: 1;
    float:none;
  }
  header .menu {

  }
	*/

  #main-content,
  #sidebar {
    float: none;
    width: 100% ! important;
  }
  #sidebar {
    background-image: none;
    margin-top: 20px;
    border-top: solid 1px #ddd;
    padding: 20px 0;
    min-height: 0;
  }
  #sidebar a.button {
    display: none;
  }
  .stdright,
  .stdleft,
  .stdcenter {
   width:200px;
   float:none;
}
  #main-content h1:before,
  #main-content h2:before,
  #main-content h3:before,
  #main-content h4:before,
  #main-content h5:before,
  #main-content h6:before {
    content: none;
    padding-right: 0;
    margin-left: 0;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}
