---
layout: default
title:  Statements of Work - Funding Formular
author: Lars Kruse
---

A Statement of Work (SoW) is like the equivalent of a _briefing_ or an _epic_. Committing to a Statement of Work is how members co-fund new development in Josra. <a href="/blog/whats-a-statement-of-work.html">...Read more about it</a>

<p>&nbsp;<br/></p>

<p>
{% for category in site.categories %}
 {% for catname in site.data.catnames %}
  {% if catname.dir == "sow" %}
   {% if catname.dir == category.first %}
     <div style="padding-bottom:15px;"><a name="{{ category.first }}"></a>
      <b><span title="{{catname.description}}">{{ catname.name}}<span></b>
       {% for posts in category %}
        {% for post in posts %}
          <div class="list"><a title="{{ post.date | date: "%A %B %-d. %Y" }}" href="{{ post.url }}">{{ post.title }}</a></div>
        {% endfor %}
       {% endfor %}
      </div>
    {% endif %}
  {% endif %}
 {% endfor %}
{% endfor %}
</p>


<iframe src="https://docs.google.com/forms/d/1bviaOf37nnWBqL4biWFA3-drR8lE9GUUHuo6JeURr_8/viewform?embedded=true" width="704" height="1550" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
