    <header class="row">
        <div class="logoBox">
          <img src="http://www.praqma.com/images/praqma_logoCropd.png">
        </div>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarmenu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar" style="background: black;"></span>
          <span class="icon-bar" style="background: black;"></span>
          <span class="icon-bar" style="background: black;"></span>
          </button>
        <div id="navbarmenu" class="menuWrapper collapse navbar-collapse">
            <a class="menu" href="/gatherings/4th-gathering.html"> Gathering</a>
            <a class="menu" href="/news/">News</a>
            <a class="menu" href="/members/">Members</a>
            <a class="menu" href="/charter/">Charter</a>
            <a class="menu" href="/sow/">SoW</a>
            <a class="menu" href="/blog/">Blog</a>
        </div>
    </header>
