    <header>
      <div class="inner">
        <h1>Joint Open Source Roadmap Alliance</h1>
        <h2>JOSRA</h2>
        <a href="https://github.com/josra/josra.github.io" class="button" target="_blank"><small>This page is hosted at GitHub pages from the <span style="color:#fe950d;">Josra</span> repo</small></a>
        <a class="menu" href="/">Josra</a>
        <a class="menu" href="/gatherings/4th-gathering.html"> Gathering</a>
        <a class="menu" href="/news/">News</a>
        <a class="menu" href="/members/">Members</a>
        <a class="menu" href="/charter/">Charter</a>
        <a class="menu" href="/sow/">SoW</a>
        <a class="menu" href="/blog/">Blog</a>
      </div>
    </header>
