    <header>
      <div class="inner">
        <h1>Joint Open Source Roadmap Alliance</h1>
        <h2>JOSRA</h2>
        <a href="https://github.com/josra/josra.github.io" class="button" target="_blank"><small>This page is hosted at GitHub pages from the <span style="color:#fe950d;">Josra</span> repo</small></a>
        <a class="menu" href="/">Josra</a>
        <a class="menu" href="/included">Included</a>
        <a class="menu" href="/tools">Tool stack</a>
        <a class="menu" href="/offer">€ $ ¥ £ ฿</a>
        <a class="menu" href="/blog">Blog</a>
      </div>
    </header>
