<!DOCTYPE html>
<html>

  {%include head.html%}

  <body>

    {%include banner.html%}

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
        
          {{ content }}
        
        </section>

        <aside id="sidebar">
          <strong>Exercises</strong> 
          <div class="exercise"><span style="color:#fe950d;font-weight:bold;">::&nbsp;</span><a href="/dojo/out_of_svn.html" title="Come up with a rough migration plan going from SVN to Git and CruiseControl to Jenkins CI">Out of Subversion</a></div>
          <div class="exercise"><span style="color:#fe950d;font-weight:bold;">::&nbsp;</span><a href="/dojo/think_of_a_project.html" title="Think of a project, measue it's CDMI">Think of a project</a></div>
          <div class="exercise"><span style="color:#fe950d;font-weight:bold;">::&nbsp;</span><a href="/dojo/a_small_script.html" title="Create a small script that scans a PDF file for occurences of a certain string">A small script</a></div>          
          <div class="exercise"><span style="color:#fe950d;font-weight:bold;">::&nbsp;</span><a href="/dojo/peer_review_dispute.html" title="Settle the dispute about where in the pipeline to introduce peer-reviews">The peer review dispute</a></div>
          <div class="exercise"><span style="color:#fe950d;font-weight:bold;">::&nbsp;</span><a href="/dojo/path_finder.html" title="Write a short bio of yourself, show the traces to whow you are">Path finder</a></div>
        </aside>
        
      </div>
    </div>
  </body>
</html>
