<!DOCTYPE html>
<html>

  {%include head.html%}

  <body>

    {%include banner.html%}

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">


          <div class="title">{{page.title}}</div>

          {{ content }}


        </section>
          <aside id="sidebar">
            <a target="_blank" href="/res/Josra-member.pdf"><img style="width:200px;" src="/images/josra1.png">
            <img style="width:200px;" src="/images/josra2.png"></a>

          </aside


      </div>
    </div>
  </body>
</html>
