<!DOCTYPE html>
<html>

  {%include head.html%}

  <body>

    {%include banner.html%}

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
        
          {{ content }}
        
        </section>

        <aside id="sidebar">
            <strong>CoDe:er events</strong>
            <div class="meetup"><a target="_blank" href="http://www.meetup.com/code-u/">CoDe:U at Meetups</a></div>
            <div class="meetup"><a target="_blank" href="http://praqma.eventbrite.com/">Praqma at Eventbrite</a></div>
            
            <div style="margin-top:30px;"><strong>Follow</strong></div>
            <div class="meetup"><a target="_blank" href="http://twitter.com/contdeliu">@contdeliu on Twitter</a></div>
            <div class="meetup"><a target="_blank" href="http://www.linkedin.com/groups?home=&gid=4893734">CoDe:U group on LinkedIn</a></div>
            <div class="meetup"><a target="_blank" href="http://twitter.com/praqma">@praqma on Twitter</a></div>
            
        </aside>        
      </div>
    </div>
  </body>
</html>
