<!DOCTYPE html>
<html>

  {%include head.html%}

  <body>

    {%include banner.html%}

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
        
          <strong>Category</strong> 
            {% for catname in site.data.catnames %}
              {% for category in page.categories %}
                {% if catname.dir == category %}
                  <em><span title="{{catname.description}}">{{catname.name}}</span></em>&nbsp;&nbsp;
                 {% endif %}
              {% endfor %}
            {% endfor %}<br/>
          <strong>By:&nbsp;</strong>{% for author in page.author %}
            <em>{{author}}</em>&nbsp;&nbsp;
          {% endfor %}<br/>
          <strong> On:</strong>          
          {{page.date | date: "%A, %B %d. %Y"}}<br/>
        
          <h1>{{page.title}}</h1>
        
          {{ content }}
          
        
        </section>
          <aside id="sidebar">
            {%include lsbycat.html%}
          </aside>
  
        {%include google-comments.html%}
        
      </div>
    </div>
  </body>
</html>
